@import '../../styles/variables.scss';

.logo {
    font-weight: 600;
    font-size: 36px;
    color: $primary-color;
    margin: 12px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
