@import '../../../styles/variables.scss';

.navLink {
    padding: 8px 20px;
    position: relative;
    
    a {
        color: $primary-color;

        &.active {
            font-weight: 500;
            &::after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                height: 3px;
                width: 80%;
                background-color: $secondary-color;
                transform: translateX(-50%);
            }
        }
    }
}