@import '../../../../styles/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  height: 136px;
}

.label {
  padding: 5px 20px;
  font-weight: 600;
  font-size: 24px;
  color: $primary-color;
}

.submenu {
  flex: 1;
  background-color: #d8e7f0;
}

.item {
  display: inline-block;
  color: $primary-color;
  line-height: 34px;
  height: 34px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  &.active {
    // background-color: #d3d3d3;
    background-color: #6ba3c145;
    color: $white-color;
  }
}
