// Theme color
$primary-color: #015394;
$secondary-color: #6BA3C1;
$light-primary-color: #D8E7F0;

// Sematic color
$success-color: #33C158;
$warn-color: #FF9E1D;
$info-color: #03C4D8;
$error-color: #F95D5D;

// Other color
$white-color: #Fff;
$black-color: #000;
$dim-color: #c8c7cc;
$gray-color: #DADADA;
$neutral-color: #f5f5f5;


