@import '../../../../styles/variables.scss';

.cart-icon {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 800;
  margin-top: 4px;
  color: $primary-color;
  cursor: pointer;
}

.count {
  position: absolute;
  top: -3px;
  right: -10px;
  background-color: $white-color;
  height: 20px;
  width: 20px;
  line-height: 16px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid $primary-color;
  border-radius: 50%;
  text-align: center;
}
