.wrapper {
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 22px;
  border-radius: 2px;
  margin-bottom: 15px;
  font-size: 16px;
}

.label {
  margin-right: 10px;
}

.page-label {
  margin-right: 8px;
}

.page-input {
  border: none;
  outline: none;
  font-size: 16px;
  transform: translateY(1px);
}

@media screen and (max-width: 1113px) {
  .wrapper {
    display: block;
  }
  .label {
    display: none;
  }

  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
  }

  .page {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
  }
}
